{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"printWidth": 120,
	"quoteProps": "consistent",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"singleAttributePerLine": true
}
